<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="qualityConnectionString" connectionString="Data Source=DESKTOP-OOUTT1Q;Initial Catalog=quality;Persist Security Info=True;User ID=sa;Password=1230;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
   

      <pages enableEventValidation="false" validateRequest="false" enableViewStateMac="false"></pages>   
   <httpRuntime requestValidationMode="2.0" executionTimeout="12000" maxRequestLength="1048576" /> 
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0" />
      
 <customErrors mode="Off"></customErrors>    
  </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RequestBlockingRule1" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{URL}" matchType="Pattern" pattern="*lewis-hamilton-ile-nicole-scherzinger*" ignoreCase="true" negate="false" />
					</conditions>
                    <action type="CustomResponse" statusCode="404" statusReason="File or directory not found." statusDescription="The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable." />
                </rule>
				<rule name="RequestBlockingRule2" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{URL}" matchType="Pattern" pattern="*ima-group*" ignoreCase="true" negate="false" />
					</conditions>
                    <action type="CustomResponse" statusCode="404" statusReason="File or directory not found." statusDescription="The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable." />
                </rule>
				<rule name="RequestBlockingRule3" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{URL}" matchType="Pattern" pattern="*Yazarlar/10223/*" ignoreCase="true" negate="false" />
					</conditions>
                    <action type="CustomResponse" statusCode="404" statusReason="File or directory not found." statusDescription="The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable." />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
 
  <runtime>
 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
 
          <dependentAssembly>
 
              <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
 
          </dependentAssembly>
 
          <dependentAssembly>
 
              <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
 
          </dependentAssembly>
 
          <dependentAssembly>
 
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
 
          </dependentAssembly>
 
      </assemblyBinding>
 
  </runtime>
</configuration>